.quiz {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 12px, rgba(0, 0, 0, 0.2) 0px 1px 8px
}

.quizHeader {
  display: flex;
  justify-content: flex-end;

  background-color: #4CAF50;
  padding: 0px 10px;
}

.titleSection {
  flex: 1;
  flex-grow: 1;
  align-self: center;
}

.actionSection {
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
}

.actionLink {
  padding: 15px 5px;
  margin: 0px 5px;
  color: white;
}

.actionLink:visited {
  color: white;
}

.actionLink:hover {
  text-decoration: none;
  background-color: #388E3C;
}

.activeActionLink {
  background-color: #388E3C;

}

.quizBody {
  padding: 15px;
}
