.Modal {
  position: fixed;
  top: 10rem;
  right: 2rem;
  left: 2rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
