body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* colors */

/* primary: #4caf50
primaryLight: #80e27e
primaryDark: #087f23

secondary: #ffea00
secondaryLight: #ffff56
secondaryDark: #c7b800 */
