.col {
  flex: 1 1 100px;

  padding: 0 10px;
}

.persianCol {
  font-size: 1.2rem;
  direction: rtl;
}

.scoresCol {
  flex-basis: 200px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row:nth-child(odd) {
  background-color: #eee;
}

.row:hover  {
  background-color: #f9f9e8;
}
